backend/backend/__pycache__/__init__.cpython-38.pyc
backend/backend/__pycache__/settings.cpython-38.pyc
backend/backend/__pycache__/urls.cpython-38.pyc
backend/backend/__pycache__/wsgi.cpython-38.pyc
backend/telemedicine/__pycache__/__init__.cpython-38.pyc
backend/telemedicine/__pycache__/admin.cpython-38.pyc
backend/telemedicine/__pycache__/apps.cpython-38.pyc
backend/telemedicine/__pycache__/models.cpython-38.pyc
backend/telemedicine/__pycache__/serializers.cpython-38.pyc
backend/telemedicine/__pycache__/views.cpython-38.pyc
backend/telemedicine/migrations/__pycache__/__init__.cpython-38.pyc
backend/telemedicine/migrations/__pycache__/0001_initial.cpython-38.pyc
.idea/