.NavbarItems {
    background: linear-gradient(90deg, rgb(110,94, 254) 0%, rgb(73, 63, 252, 1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:fixed;
    width:100vw;
    z-index: 100;

}

.navbar-logo{
    color: #fff;
    justify-self: start;
    margin:20px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:center;
    width: 70vw;
    height: 100%;
    justify-content: space-evenly;
    margin-right: 2rem;
    align-self: flex-end;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.6rem 4rem;
    border-radius: 30px;
}

.nav-links:hover{
    background-color: #0a58ca;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-buttons{
    align-self: center;
}

.fa-bars{
    color:#fff;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

li{
    place-self: center;
}

ul{
    margin-bottom: 0rem;
}

img.nav-logo-img {
    height: 50px;
}

@media screen and (max-width: 960px) {

    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 500px;
        position: absolute;
        top:80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        background: transparent;
    }
    a.nav-links:hover{
        background: #0a58ca;
        color: white;
        border-radius: 10;
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-icon{
        display:block;
        position: absolute;
        top:0;
        right:0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #ffff;
}

ul.nav-menu {
    margin-bottom: 0px;
}