.notification-item{
    background: linear-gradient( 90deg, rgb(110,94, 254) 0%, rgb(73, 63, 252, 1) 100%);
    line-height: 20px;
    padding: 4%;
    border-radius: 8px;
    border-top: solid transparent 0.5px;
    border: solid white 0.5px;
    margin-bottom: 5px;
    transition: transform 0.5s;
    box-shadow: 0 25px 15px 0px rgb(0 0 0 / 20%);
    display: inline-flex;
}

.notification-item:hover{
    cursor: pointer;
    background: rgb(110,94, 254);
    padding-inline: 3%;
    transform: scale(0.95);
}


.notificaiton-message{
    text-align: left;
    color: white;
}
.notification-time{
    text-align: left;
    color: white;
}