button.dropdown-toggle.btn.btn-primary {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 25px;
    background: #33383b;
}

button.notification-button.btn.btn-primary {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #33383b;
}

.nav-links{
    background: #33383b;
}

.dropdown-toggle::after {
    display: none;
}

span.notification-icon {
    display: grid;
}
.dropdown-item {
    white-space: inherit;
    background: linear-gradient( 90deg, rgb(110,94, 254) 0%, rgb(73, 63, 252, 1) 100%);
    color: white;
}
.dropdown-item:hover {
    white-space: inherit;
    background: linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    color: linear-gradient( 90deg, rgb(110,94, 254) 0%, rgb(141, 135, 248) 100%);
    padding-inline: 3%;
    transform: scale(0.95);
}
div#popover-contained {
    width:154%;
}
.content{
    display:block;
}
.notification{
    background: #33383b;
}

.dropdown-menu.show {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.dropdown-menu.show::-webkit-scrollbar {
    display: none;
}

span#notificationToast {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    position: absolute;
    transform: translateX(-5px);
}
.dropdown-menu.show {
    background: transparent;
    border: none;
}

i.fas.fa-exclamation.fa-2x {
    color: white;
    transform: rotate(6deg);
}