.adminpage-container{
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  grid-template-areas: 
  "adminpage-schedule-frame appointment-frame"  
}

.adminpage-schedule-frame {
  height: 40em;
  padding-bottom: 2%;
  overflow-y: hidden;
  
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 30px;
  grid-area: adminpage-schedule-frame;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1;
}

.appointment-frame {
  height: 100%;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 30px;
  grid-area: appointment-frame;
  grid-row: 1;
  grid-column: 2;
}

.adminpage_buttons_top {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popup_container {  
  display: grid;  
  gap: 1px; 
  grid-template-areas: 
  "popup_label popup_inputs"
  "popup_spread"  
}

.popup_label_grid {
  grid-area: popup_label;
  /* border: solid 2px black; */
}

.popup_inputs_grid {
  grid-area: popup_inputs;
  /* border: solid 2px black; */
}

.popup_spread_grid {
  grid-area: popup_spread;
  /* border: solid 2px black; */
}

.popup_label {
  text-align: left;
}