.adminpage-container{
  background-color: aqua;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 10px; 
}

.adminpage-schedule-frame {
  background-color: whitesmoke;
  border-radius: 30px;
}

.appointment-frame {
  background-color: blueviolet;
  border-radius: 30px;
}