.adminpage-container{
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  grid-template-areas: 
  "adminpage-schedule-frame appointment-frame"  
}

.adminpage-schedule-frame {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 30px;
  grid-area: adminpage-schedule-frame;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1;
  
}

.appointment-frame {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 30px;
  grid-area: appointment-frame;
  grid-row: 1;
  grid-column: 2;
}

