.page-canvas-outer {
    height: 88vh;
    width: 100vw;
}
.page-canvas-inner {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    padding-top: 5%;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.canvas {
    height: 100%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 3.5%;
    border-radius: 30px;
    background: linear-gradient(45deg, cyan 35%, limegreen);        
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
}

.canvas-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.canvas-container::-webkit-scrollbar {
    display: none;
}