.page-canvas-outer {
    height: 85vh;
    width: 100vw;
}
.page-canvas-inner {
    height: 100%;
    padding: 2%;
    padding-top: 5%;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.canvas {
    height: 100%;
    width: 100%;
    padding: 2%;
    border-radius: 30px;
    background: linear-gradient(45deg, cyan 35%, limegreen);        
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
}