form.general-info-form {
    height: 100%;
    width: 60%;
    padding-left: 10%;
    padding-top: 5%;
    text-align: left;
}
label.form-label {
    text-align: left;
}
input#formBasicEmail {
    text-align: left;
}
input#formBasicPassword {
    text-align: left;
}

input#formBasicAddress {
    text-align: left;
}

small.text-muted.form-text {
    display: inline-flex;
}

.UserID{
    padding-left: 50%;
}
.mb-3 {
    text-align: left;
}
select:hover {
    box-shadow: azure;
}
select {
    border: solid #c9c9c9cf 1px;
    border-radius: 4px;
}

input[type="date"] {
    width: 500px;
    border: solid #c9c9c9cf 1px;
    height: 40px;
    border-radius: 4px;
}