.page-canvas-outer {
  height: 85vh;
  width: 100vw;
}
.page-canvas-inner {
  height: 100%;
  padding: 5%;
  padding-top: 10%;
  text-align: -webkit-center;
}
.canvas {
  height: 100%;
  width: 100%;
  padding: 2%;
  border-radius: 30px;
  background: linear-gradient(45deg, cyan 35%, limegreen);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.report-frame {
    height: 100%
}

.frame_button{
  padding: 3%;
}

.table{  
  margin: 0;
  
  border-collapse:collapse; 
  width: 80%;    
}

#reports th {
  background-color: blue;
  color: white;
}

.table_header_left{
  border-top-left-radius: 10px;
}

.table_header_right{
  border-top-right-radius: 10px;
}

.table_button{
  background-color:cornflowerblue ;
  border-radius: 5px;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
}
.reports-row{
  height: 85%;
  text-align: -webkit-center;
  overflow-y: scroll;
}

.reports-row::-webkit-scrollbar{
  display: none;
}