@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 30%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #a59bff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  width: 80vw;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #867dff;
}

/* Style the accordion content title */
.accordion__from {
  padding: 0 25px 0 25px;
}

.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
}

.accordion__date {
  padding: 0 25px 0 105px;
  margin-left: auto;
  
}

/* Style the accordion chevron icon */
.accordion__icon {
  /* margin-left: auto; */
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  width: 80vw;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
  
  border-radius: 30%;
}