.objbutton{
    width: 75%;
    justify-content: center;
    align-items: center;  
    background-color: rgb(48,172,251);  
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
    font-size: 15pt;
    font-weight: 700;
    transition: .5s;
    outline: none;
    cursor: pointer;
  }
  
  .objbutton:hover{    
    background-color: #7FFFD4;
    color: #1E90FF;
  }

  .objinputfile-input-hidden{
      width: 1px;
  }

  .objpopup-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 800px;
    background-color: rgba(0,0,0,0.2);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .objpopup-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
  }

    
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
}
.close:before, 
.close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 20px;
  background-color:black;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: '';
}
.close:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}